<div class="container">
<h1>Welcome to the CMS </h1>

<h3>Resumes</h3>
<p>price: <%=Product.find_by(title: "resume").price %></p>
<h3>Cover Letters</h3>
<p>price: <%=Product.find_by(title: "cover letter").price %></p>
<h3>CV's</h3>
<p>price: <%=Product.find_by(title: "CV").price %></p>

</div>
