<div class="form-section fields">
  <%= f.label :description %>
  <%= f.text_area :description, class: 'required', rows: '3', cols: '28' %>  <br />
  <a href="#" class="remove-link">remove</a>
</div>
