.logo > img {
  height: 10em;
  width: 20em;
}
.pure-menu-item > a:hover {
  background-color: #BAE286 !important;
}

.green {
  background-color: #9AD14D;
}

.light-green {
  background-color: #BAE286;
}
