.logo {
  display: block;
  height: 12em;
  width: 24em;
  margin: 0rem auto;
}

.splash-image {
  width: 100%;
  margin: 0 auto;
  border-bottom: .7em solid #90A1A0;
}

.pure-menu-item > a:hover {
  background-color: #BAE286 !important;
}

.green {
  background-color: #9AD14D;
}

.light-green {
  background-color: #BAE286;
}
