.container {
  margin: 0 auto;
  width: 85%;
}

.form-section {
  /*border-radius: .3em;*/
  border: 1px solid #cacaca;
  margin: 1em 0;
  padding: 1em;
}

.request-form input {
  width: 16em;
}

.request-form textarea {
  columns: 40;
}

.remove-link {
  color: #cb310f;
}
.remove-link:hover {
  color: #cb310f;
}

.right-aligned {
  text-align: right;
}

/*.fields-div {
  display: inline-block;
}*/
